body{
background-color: rgb(0, 47, 255);
margin: auto;
}

#contenedor {
  width: 90%;
  margin: 20px auto;
}

.col {
  float: left;
  width: 33%; 
  padding: 5px;

}

.col1 {
  float: left;

  width: 30%;
  padding: 5px; 
}

.box {
  margin-top: auto;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#caja1 { 
    height: 50px; 
    background-color: rgb(43, 255, 0); 
}

#caja2 { 
    height: 120px; 
    background-color: rgb(255, 0, 149);
}

#caja3 { 
    height: 70px; 
    background-color: rgb(255, 255, 0); 
}

#caja4 { 
    height: 300px; 
    background-color: purple; 
}

#caja5 { 
    height: 300px; 
    background-color: rgb(238, 115, 58); 
}

#caja6 { 
    height: 100px; 
    background-color: rgb(160, 146, 66); 

}

#caja7 { 
    height: 150px; 
    background-color: rgb(0, 225, 255); 
}

#caja8 { 
    height: 255px; 
    background-color: rgb(19, 185, 130);
}

#caja9 { 
    height: 90px; 
    background-color: rgb(68, 54, 37); 

}

#caja10 { 
    height: 205px; 
    background-color: lawngreen;
}